.ag-cell-editor-autocomplete {
  background-color: #ffffff;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  border: 1px solid #dcdde1;
  max-height: 25% !important;
  max-width: 100% !important; }

.ag-cell-editor-autocomplete * {
  font: inherit; 
  font-size: 15px !important;
}

.ag-cell-editor-autocomplete > div {
  padding: 8px 13px;
  margin: 2px 0px; 
}

.ag-cell-editor-autocomplete > div.group {
  background-color: #adacac;
  color: white; }

.ag-cell-editor-autocomplete > div:hover:not(.group),
.ag-cell-editor-autocomplete > div.selected {
  background: #dcdde1;
  cursor: pointer; }

.ag-cell-editor-autocomplete > div > * > strong {
  font-weight: bold !important; }
